<div th:fragment="footer">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6">
                <p>No Copyright © 2023 Nutrix</p>
            </div>

            <div class="col-md-6 text-md-end">
                <a href="/misc/tos" class="text-dark">Terms of Service</a>
                <span class="text-muted mx-2">|</span>
                <a href="/misc/privacypolicy" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>