<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <!-- <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;"> -->

        <div class="container" style="max-width: 1150px;">
            <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Nutrix">
                <!-- <img th:src="@{/img/logo.png}" alt="Nutrix" width="40" height="40"> -->
                Nutrix
            </a>
            <!-- <a class="navbar-brand ms-auto" href="/">Nutrix</a> -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/allmeals" class="nav-item nav-link">All Meals</a>
                        <a href="/recentmeals" class="nav-item nav-link">Recent Meals</a>
                        <a href="/favoritemeals" class="=nav-item nav-link">Favorite Meals</a>
                        <a href="/misc/test" class="nav-item nav-link">Test</a>
                    </div>
                <div class="navbar-nav ms-auto">             
                    <a href="#" class="nav-item nav-link">Login</a>
                    <a href="#" class="nav-item nav-link">Register</a>
                </div>
            </div>   
        </div>

    </nav>
    
</div>
