.responsive-table {
    width: 100%;
   }

@media (max-width: 600px) {
    .mobile-content {
        display: block;
    }
    .desktop-content {
        display: none;
    }
}
@media (min-width: 601px) {
    .mobile-content {
        display: none;
    }
    .desktop-content {
        display: block;
    }
}

.nutrix-width {
    max-width: 1175px;
    /* margin: 0 auto; Center the content */
}