<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meals</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <h1 class="text-center mt-4 mb-5">All Meals</h1>
    

    <table class="table">

        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Carbs</th>
                <th scope="col">Protein</th>
                <th scope="col">Fat</th>
                <th scope="col">Favorite</th>
                <th scope="col">Category ID's</th>
                <th scope="col">Creation Date</th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="meal: ${allMeals}">
                <td th:text="${meal.id}"></td>
                <td th:text="${meal.name}"></td>
                <td th:text="${meal.calories}"></td>
                <td th:text="${meal.carbs}"></td>
                <td th:text="${meal.protein}"></td>
                <td th:text="${meal.fat}"></td>
                <td th:text="${meal.isFavorite}"></td>
                <td>
                    <span th:each="category, iterStat : ${meal.categories}">
                        <span th:text="${category.id} + ${!iterStat.last ? ', ' : ''}"></span>
                    </span>
                 </td>
                <td th:text="${meal.timestamp}"></td>
            </tr>
        </tbody>
    </table>
















    <!-- Seperator -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>