<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meals</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>

<body>

  <div th:insert="/fragments/navbar :: navbar"></div>



<!-- Total Stats Section -->
<div class="container mt-4 justify-content-center text-center">
    <div class="p-5 my-4 bg-light rounded-5">
        <h1 class="display-4" th:text="${category.name.substring(0,1).toUpperCase() + category.name.substring(1,category.name.length).toLowerCase()}"></h1>


        <!-- <div class="row mt-2 justify-content-center">
            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">Total Calories</h5>
                        <p class="card-text">
                            <span class="font-weight-bold" th:text="${totalCalories} + g"></span>
                        </p>
                    </div>
                </div>
            </div> -->



        <div class="row mt-3 justify-content-center">

            <div class="col-md-3">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">Total Calories</h5>
                        <p class="card-text">
                            <span class="font-weight-bold" th:text="${totalCalories} + g"></span>
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="col-md-3">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">Carbs</h5>
                        <p class="card-text">
                            <span class="font-weight-bold" th:text="${totalCarbs} + g"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">Protein</h5>
                        <p class="card-text">
                            <span class="font-weight-bold" th:text="${totalProtein} + g"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">Fat</h5>
                        <p class="card-text">
                            <span class="font-weight-bold" th:text="${totalFat} + g"></span>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Meals Section -->


    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Calories</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="meal: ${mealsInCategory}">
                                <td th:text="${meal.name}"></td>
                                <td th:text="${meal.calories}" class="text-center"></td>
                                <td class="text-end">
                                    <button class="btn btn-danger btn-sm" th:id="'deleteBtn-' + ${meal.id}">Delete</button>
                                    <button class="btn btn-secondary btn-sm">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>








     
     <!-- <div class="row g-3">
         <hr>

     <div th:each="meal: ${mealsInCategory}">
         <div class="col-8">
             <h2 th:text="${category.name}"></h2>
         </div>
         <p>Here will be some info about the category</p>
         <p><a th:href="@{'/category/' + ${category.id}}" class="btn btn-success">View Meals &raquo;</a></p>
         <hr>
     </div>

     </div>

     <hr> -->



<!--  -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="module" src="/js/main.js"></script>
  <script type="module" src="/js/meal-actions.js"></script>

</body>
</html>