<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>

<body>

    <div th:insert="/fragments/navbar :: navbar"></div>

    
    <div class="container">

       <div class="p-5 my-4 bg-light rounded-5">
            <div class="text-center">
                <h1>Your stats for the day</h1>
           </div>

            <p class="lead text-center">Space for Nutrient overview of the day</p>

            <p class="text-center"><a href="#" class="btn btn-success btn-lg">Add Meal Maybe</a></p>
        </div>
    
        <div class="row g-3">
            <hr>

        <div th:each="category: ${allCategories}">
            <div class="col-8">
                <h2 th:text="${category.name}"></h2>
            </div>
            <p>Here will be some info about the category</p>
            <p><a th:href="@{'/category/' + ${category.id}}" class="btn btn-success">View Meals &raquo;</a></p>
            <hr>
        </div>

        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>No Copyright © 2023 Nutrix</p>
                </div>

                <div class="col-md-6 text-md-end">
                    <a href="/misc/tos" class="text-dark">Terms of Service</a>
                    <span class="text-muted mx-2">|</span>
                    <a href="/misc/privacypolicy" class="text-dark">Privacy Policy</a>
                </div>
            </div>
        </footer>

    </div>



    <!-- Seperator -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/meal-actions.js"></script>

</body>
</html>