<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>

<body>

    <div th:insert="/fragments/navbar :: navbar"></div>

    <div class="container mt-5">
        <div class="p-5 my-4 bg-light rounded-5">
            <div class="text-center">
                <h1>Privacy Policy</h1>
           </div>

            <p class="lead text-center p-5">No privacy on this platform.
            </p>

            <p class="text-center">
                <a href="https://www.google.com" class="btn btn-success btn-lg">Fuck Off Button</a>
            </p>

        </div>
    </div>
    
</body>
</html>